@import '~bootstrap/scss/bootstrap';

body {
  background-image: url(https://66.media.tumblr.com/86e2d554331ef99cd6e1076fbf3fc60b/tumblr_n5ftu0Zng51qm1yelo1_1280.png);
  background-size: 100% 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

.box1 {
  background-color: pink;
  border: 3px solid white;
  height: 25vh;
  opacity: .8;
  width: 600px;
}

.box2 {
  background-color: pink;
  height: 75vh;
  opacity: 0.8;
  width: 600px;
}

.form {
  display: inline-flex;
  background-image: url('images/speech-bubble.png');
  height: 300px;
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
}
