@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Gorditas&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,700&display=swap');

body {
  background: url('public/background.jpg');
  border: 20px solid #ffffe0;
  border-left: 0;
  border-right: 0;
  color: #8c7165;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

div {
  & .col-8 {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}

h1 {
  display: flex;
  font-family: 'Gorditas', cursive;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}

html {
  height: 100%;
  width: 100%;
}

img {
  &#balloon {
    height: 35%;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
  }

  &#boy-villager {
    height: 50%;
    margin-left: 8%;
    margin-top: 22.5%;
    position: absolute;
  }

  &#girl-villager {
    height: 50%;
    margin-left: 73%;
    margin-top: 22.5%;
    position: absolute;
  }

  &#gyroid {
    height: 28%;
    margin-left: 76%;
    margin-top: 34.5%;
    position: absolute;
  }

  &#kicks {
    height: 45%;
    margin-left: 1%;
    margin-top: 25%;
    position: absolute;
  }

  &#kk-slider {
    height: 45%;
    margin-left: -5%;
    margin-top: 26%;
    position: absolute;
  }

  &#rosie {
    height: 50%;
    margin-left: 75%;
    margin-top: 22.5%;
    position: absolute;
  }

  &#tom-nook {
    height: 50%;
    margin-left: 7%;
    margin-top: 23%;
    position: absolute;
  }

  &#tree {
    height: 600px;
    width: 375px;
    margin-left: 72%;
    margin-top: 10%;
    position: absolute;
  }
}

nav {
  flex-wrap: wrap-reverse;
  height: 40px;
}

section{
  line-height: 1;
  display: inherit;
}

.box1 {
  background-color: #fff7e0;
  border: 10px solid #ffee97;
  border-bottom: 0;
  border-radius: 25px 25px 0 0;
  height: 20vh;
  margin-top: 15px;
  opacity: .88;
}

.box2 {
  align-items: center;
  background-color: #fff7e0;
  border: 10px solid #ffee97;
  border-radius: 0 0 25px 25px;
  display: inline-flex;
  flex-direction: column;
  font-family: 'Hind Vadodara';
  height: 70vh;
  margin-bottom: 40px;
  opacity: .88;
  width: 600px;
}

.btn-primary {
  height: 35px;
}

.cute-btn {
  background-color: #fff7e0;
  border-radius: 16px;
  box-shadow: 0px 6px 0px #e8cea2;
  color: #8c7165;
  padding: 9px 9px;
  float: right;
  font-size: 15px;
  margin-top: 2px;
  text-align: center;

  &:hover {
    background-color: #ffdcc7;
    box-shadow: 0px 6px 0px #ffba8f;
  }

  &.inner-modal-btn{
  }

  &.sign {
    margin-top: 6px;
  }
}

.delete-btn {
  padding: 1px 6px;
  margin-top: -3px;
  margin-left: 5px;
}

.form {
  background-color: #e2f0ea;
  background-image:
  radial-gradient(#c5e0d7 20%, transparent 0),
  radial-gradient(#c5e0d7 20%, transparent 0);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
  border: 8px solid #b2d4cc;
  border-radius: 10%;
  box-shadow: 5px 5px 5px grey;
  height: 225px;
  margin: 10px;
  padding: 20px;
  width: 250px;
}

.input {
  font-size: 12px;
}

.main-header {
  align-content: center;
  display: flex;
  font-size: 3em;
  justify-content: center;
}

.message {
  background-color: white;
  font-size: 14px;
  position: absolute;
  margin-left: 2%;
  margin-top: 5px;
}

.modal-content {
  align-items: center;
  background-color: rgba(255, 204, 190, .88);
  background-image:
  radial-gradient(#ffccbe 20%, transparent 0),
  radial-gradient(#ffccbe 20%, transparent 0);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
  border: 10px solid #ffbba6;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #a38dd6;
  background-image:
  radial-gradient(#af9dcf 20%, transparent 0),
  radial-gradient(#af9dcf 20%, transparent 0);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
}

.nav-btn {
  padding: 1px 6px;
  margin-top: -3px;
  margin-left: 5px;
}

.row {
  align-content: center;
  display: flex;
  justify-content: center;
}

.search {
  padding: 1px 3px;
  margin-top: -3px;
  margin-left: 5px;
}

.show-all-towns {
  align-items: center;
  display: block;
  height: 45vh;
  justify-content: center;
  width: 50vh;
}

.signature {
  font-size: 10px;
  margin: 0;
}

.update-btn {
  padding: 1px 6px;
  margin-top: -3px;
  margin-left: 5px;
}



#message2 {
  font-size: 10px;
  justify-content: center;
  margin: 10px auto;
  width: auto;
}
